[submodule "Vim/bundle/Command-T"]
	path = Vim/bundle/Command-T
	url = https://github.com/wincent/Command-T.git
[submodule "Vim/bundle/OmniCppComplete"]
	path = Vim/bundle/OmniCppComplete
	url = https://github.com/vim-scripts/OmniCppComplete.git
[submodule "Vim/bundle/VisIncr"]
	path = Vim/bundle/VisIncr
	url = https://github.com/vim-scripts/VisIncr.git
[submodule "Vim/bundle/colorschemes"]
	path = Vim/bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "Vim/bundle/fswitch"]
	path = Vim/bundle/fswitch
	url = https://github.com/derekwyatt/vim-fswitch.git
[submodule "Vim/bundle/fugitive"]
	path = Vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "Vim/bundle/gist"]
	path = Vim/bundle/gist
	url = https://github.com/mattn/gist-vim.git
[submodule "Vim/bundle/markdown"]
	path = Vim/bundle/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "Vim/bundle/matchit"]
	path = Vim/bundle/matchit
	url = https://github.com/tmhedberg/matchit.git
[submodule "Vim/bundle/nerdcommenter"]
	path = Vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "Vim/bundle/nerdtree"]
	path = Vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "Vim/bundle/python-matchit"]
	path = Vim/bundle/python-matchit
	url = https://github.com/voithos/vim-python-matchit.git
[submodule "Vim/bundle/repeat"]
	path = Vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "Vim/bundle/SuperTab"]
	path = Vim/bundle/SuperTab
	url = https://github.com/vim-scripts/SuperTab.git
[submodule "Vim/bundle/surround"]
	path = Vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "Vim/bundle/taglist"]
	path = Vim/bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "Vim/bundle/visual-star-search"]
	path = Vim/bundle/visual-star-search
	url = https://github.com/bronson/vim-visual-star-search.git
[submodule "Vim/bundle/webapi"]
	path = Vim/bundle/webapi
	url = https://github.com/mattn/webapi-vim.git
[submodule "Vim/bundle/addon-mw-utils"]
	path = Vim/bundle/addon-mw-utils
	url = https://github.com/vim-scripts/vim-addon-mw-utils.git
[submodule "Vim/bundle/MatchTag"]
	path = Vim/bundle/MatchTag
	url = https://github.com/gregsexton/MatchTag.git
[submodule "Vim/bundle/html5.vim"]
	path = Vim/bundle/html5.vim
	url = https://github.com/othree/html5.vim.git
