snippet header
#ifndef `!p snip.rv = t[1].upper()`_H
#define `!p snip.rv = t[1].upper()`_H

class ${1:Class} {
    public:
        // Constructor
        $1();
        $1($1 const &);
        $1($1 &&);
        $1(${2:args});

        // Destructor
        virtual $1();

        // Copy operator
        $1 & operator=($1 const &);

        // Member Functions
        ${3}

    protected:
        // Attributes
        ${4}
};

#endif // `!p snip.rv = t[1].upper()`_H
endsnippet
